Source: libarea
Priority: extra
Maintainer: Joachim Steiger <ubuntu@hyte.de>
Build-Depends: debhelper (>= 7), python-dev, python-support
Standards-Version: 3.7.3
Section: python
Homepage: http://code.google.com/p/libarea/

Package: python-area
Architecture: any
Depends: ${shlibs:Depends}
Description: Area C++ class with a Python module
 Derived from the kbool library written by Klaas Holwerda http://boolean.klaasholwerda.nl/bool.html.
 .
 This package contains the shared library.
 .

