Source: libarea
Priority: extra
Section: misc
Maintainer: Romuald Conty <neomilium@gmail.com>
Build-Depends: debhelper (>= 7), libboost-python-dev, cmake, python-dev (>=2.6.5)
Standards-Version: 3.9.3
Homepage: https://code.google.com/p/libarea/
Vcs-Svn: http://libarea.googlecode.com/svn/trunk/
Vcs-Browser: https://code.google.com/p/libarea/source/browse/

Package: libarea0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Area C++ library
 Area is a CAM-related software for pocketing operation.
 .
 Derived from the kbool library written by Klaas Holwerda
 http://boolean.klaasholwerda.nl/bool.html.
 .
 This library uses "Clipper" implementation.
 .
 This package contains the shared library.

Package: libarea-dev
Architecture: all
Section: libdevel
Depends: ${misc:Depends}, libarea0 (= ${binary:Version})
Description: Area C++ library (development files)
 Derived from the kbool library written by Klaas Holwerda
 http://boolean.klaasholwerda.nl/bool.html.
 .
 This package contains the development files (ie. headers).

Package: python-area
Architecture: any
Section: python
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
Description: Python module for libarea
 Area is a CAM-related software for pocketing operation.
 .
 Derived from the kbool library written by Klaas Holwerda
 http://boolean.klaasholwerda.nl/bool.html.
 .
 This module uses "Boolean" implementation.
 .
 This package contains the python module.

